<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trey.registertest">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_xpense_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Capstone"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PreviousCategoryActivity"></activity>
        <activity android:name=".OneReceipt" />
        <activity android:name=".MonthlyCategoryActivity" />
        <activity android:name=".ImportActivity" />
        <activity android:name=".PersonalCategoryActivity" />
        <activity android:name=".MiscellaneousCategoryActivity" />
        <activity android:name=".GroceriesCategoryActivity" />
        <activity android:name=".EntertainmentCategoryActivity" />
        <activity android:name=".BillsCategoryActivity" />
        <activity android:name=".PreviewScreenActivity" />
        <activity android:name=".ScanReceipt" />
        <activity android:name=".NewPasswordActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".BudgetActivity" />
        <activity android:name=".ManualEntryActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- version -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" /> <!-- barcode,face,ocr -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.trey.registertest.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_list" />
        </provider>
    </application>

</manifest>